@charset "UTF-8";

.btn {
	padding: 4px;
	color: white;
	border-radius: 0.75rem;
	width: 50%;
}

.logo {
	height: 130px;
}

.role {
	width: 50%; 
	margin-left: 400px; 
	margin-top: 30px;
}

input, textarea {
		background-color: #babdc2;
		border-radius: 0.375rem;
		height: 50px;	
		padding-left: 30px;
}
